article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

.facebook {
  background: #3b5998; }

.twitter {
  background: #55acee; }

.gplus {
  background: #dd4b39; }

.instagram {
  background: #405de6; }

.vimeo {
  background: #1ab7ea; }

.pinterest {
  background: #bd081c; }

.youtube {
  background: #cd201f; }

.linkedin {
  background: #0077B5; }

.buffer {
  background: #222222; }

.mix {
  background: #f77e25; }

/* Typography
   ========================================================================== 
*/
html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  html {
    font-size: 1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: calc(1rem + 0.2 * ((100vw - 20rem) / 100)); } }
    @media screen and (min-width: 120rem) {
      html {
        font-size: 1.2rem; } }

body {
  background: #ffffff;
  color: #111111;
  font-family: "Nunito", serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none; }

a {
  color: #6B78B4;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

a:hover {
  color: #6B78B4;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink; }

a:active {
  color: #6B78B4; }

a:focus {
  color: #6B78B4;
  outline: none; }

.inverse {
  color: #111111;
  text-decoration: none;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s; }

.inverse:hover {
  color: #6B78B4;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink; }

.inverse:active {
  color: #6B78B4; }

.inverse:focus {
  color: #6B78B4;
  outline: none; }

blockquote,
p,
ul,
ol,
dl,
table,
hr {
  margin-top: calc(1rem + 0.25vw); }

blockquote,
figure,
hr {
  margin-top: calc(1rem + 1vw);
  margin-bottom: calc(1rem + 1vw); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  margin-top: calc(2.25rem + 0.5vw);
  text-transform: uppercase; }

h1 {
  margin: 0.5rem 0 1.5rem; }
  h1 {
    font-size: 1.29454rem; }
    @media screen and (min-width: 20rem) {
      h1 {
        font-size: calc(1.29454rem + 1.51387 * ((100vw - 20rem) / 100)); } }
    @media screen and (min-width: 120rem) {
      h1 {
        font-size: 2.8084rem; } }

h2 {
  font-size: 1.13778rem; }
  @media screen and (min-width: 20rem) {
    h2 {
      font-size: calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 100)); } }
  @media screen and (min-width: 120rem) {
    h2 {
      font-size: 1.38084rem; } }

h3 {
  font-size: 1.06667rem; }
  @media screen and (min-width: 20rem) {
    h3 {
      font-size: calc(1.06667rem + 0.22787 * ((100vw - 20rem) / 100)); } }
  @media screen and (min-width: 120rem) {
    h3 {
      font-size: 1.29454rem; } }

h4 {
  font-size: 1rem; }
  @media screen and (min-width: 20rem) {
    h4 {
      font-size: calc(1rem + 0.21363 * ((100vw - 20rem) / 100)); } }
  @media screen and (min-width: 120rem) {
    h4 {
      font-size: 1.21363rem; } }

h5 {
  font-size: 0.9375rem; }
  @media screen and (min-width: 20rem) {
    h5 {
      font-size: calc(0.9375rem + 0.20028 * ((100vw - 20rem) / 100)); } }
  @media screen and (min-width: 120rem) {
    h5 {
      font-size: 1.13778rem; } }

h6 {
  font-size: 0.87891rem; }
  @media screen and (min-width: 20rem) {
    h6 {
      font-size: calc(0.87891rem + 0.18776 * ((100vw - 20rem) / 100)); } }
  @media screen and (min-width: 120rem) {
    h6 {
      font-size: 1.06667rem; } }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: calc(0.5rem + 0.25vw); }

b,
strong {
  font-weight: 600; }

blockquote {
  background: rgba(17, 17, 17, 0.03);
  border-left: 0.3rem solid #6B78B4;
  font-style: italic;
  padding: 1.5rem 1.5rem 1.5rem 1.75rem; }
  blockquote cite {
    color: #111111;
    display: block;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 0.75rem; }
  blockquote > :nth-child(1) {
    margin-top: 0; }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0 0 0.25rem 1rem; }

dl dt {
  font-weight: 600; }

pre {
  margin: 1.5rem 0 0;
  padding: 1.5rem 3rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: rgba(17, 17, 17, 0.03);
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.82397rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #cfcfcf;
    padding: 0.75rem 1.25rem; }
  table tr:nth-child(2n) {
    background: rgba(17, 17, 17, 0.03); }
  table td {
    padding: 0.75rem 1.25rem; }

figcaption {
  clear: both;
  color: #646464;
  font-style: italic;
  font-size: 0.7242rem;
  margin: 0.75rem 0 0;
  text-align: center; }

hr {
  background: 0 0;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center; }
  hr::before {
    content: "\00b7 \00b7 \00b7";
    color: #111111;
    font-size: 1.4729rem;
    font-weight: 600;
    letter-spacing: 1rem;
    padding-left: 1rem; }

.btn, [type=button],
[type=submit],
button {
  background: #111111;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: 400 0.7242rem "Nunito", serif;
  letter-spacing: 0.5px;
  padding: 0.75rem 1.5rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 100%; }
  @media all and (min-width: 20em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, :hover[type=button],
  :hover[type=submit],
  button:hover, .btn:focus, :focus[type=button],
  :focus[type=submit],
  button:focus {
    background: #6B78B4;
    color: #ffffff; }
  .btn:disabled, :disabled[type=button],
  :disabled[type=submit],
  button:disabled {
    background-color: #f3f3f3;
    border-color: #c4c4c4;
    color: #646464;
    cursor: not-allowed; }
  .btn:active, :active[type=button],
  :active[type=submit],
  button:active {
    background: #6B78B4; }
  @media all and (max-width: 19.9375em) {
    .btn + .btn, [type=button] + .btn, [type=submit] + .btn, button + .btn, .btn + [type=button], [type=button] + [type=button], [type=submit] + [type=button], button + [type=button],
    .btn + [type=submit],
    [type=button] + [type=submit],
    [type=submit] + [type=submit],
    button + [type=submit],
    .btn + button,
    [type=button] + button,
    [type=submit] + button,
    button + button {
      margin-top: 0.5rem; } }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #a0a0a0;
  margin: 0 0 1.5rem;
  padding: 1.5rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 600; }

label {
  font-weight: 600;
  margin: 0 1rem 0.75rem 0; }

option {
  font-weight: 400; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: none;
  border: 1px solid #a0a0a0;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    border-color: #6B78B4; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #a0a0a0;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.25rem;
      line-height: 1.25rem;
      margin-right: 1rem;
      vertical-align: middle;
      text-align: center;
      width: 1.25rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%236B78B4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%236B78B4'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.5rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    background-size: 8px;
    padding-right: 3rem; }

select[multiple] {
  border: 1px solid #a0a0a0;
  padding: 1.5rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #a0a0a0; }
  select[multiple]:focus {
    border-color: #6B78B4; }
  select[multiple]:disabled {
    background-color: #f3f3f3;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #a0a0a0; }

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

/* Wrapper + Header ------------------------ */
.container {
  padding: 0 4%; }
  @media all and (min-width: 56.25em) {
    .container {
      margin: 0 auto;
      max-width: calc(64rem + 8%); } }
  .container > header {
    margin-bottom: 3.25rem;
    position: relative; }
    @media all and (max-width: 56.1875em) {
      .container > header {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0.25rem 0;
        position: relative; } }
    .container > header.is-sticky {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #ffffff;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      left: 0;
      margin: 0 auto;
      max-width: 100%;
      right: 0;
      padding: 0.25rem 4%;
      position: fixed !important;
      top: 0;
      z-index: 999; }
      .container > header.is-sticky .logo {
        font-size: 1.78755rem;
        padding: 0; }
      .container > header.is-sticky .search + .navbar {
        margin-right: 2rem; }
      .container > header.is-sticky > div {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        width: 100%; }
        @media all and (min-width: 56.25em) {
          .container > header.is-sticky > div {
            margin: 0 auto;
            max-width: 64rem; } }

/* Logo ------------------------ */
.logo {
  color: #111111 !important;
  display: block;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.78755rem;
  letter-spacing: 1px;
  text-align: center; }
  @media all and (min-width: 56.25em) {
    .logo {
      font-size: 3.63559rem;
      padding: 1.5rem 0 0.75rem; } }
  .logo:hover {
    text-decoration: none; }
  .logo:focus {
    outline: none; }

.search__btn {
  border: none;
  background: none !important;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  right: 3rem;
  top: 40%;
  width: auto; }
  @media all and (min-width: 56.25em) {
    .search__btn {
      right: 0; } }
  .search__btn:hover, .search__btn:focus {
    opacity: 1; }

.search__input {
  border: none;
  border-bottom: 2px solid #cfcfcf;
  display: none;
  font-size: 1.13778rem;
  opacity: 0;
  width: 64rem;
  -webkit-transition: all 0.48s ease-in-out;
  -o-transition: all 0.48s ease-in-out;
  transition: all 0.48s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.search__close {
  background: none !important;
  border: none;
  color: transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 2.5rem;
  text-indent: -999rem;
  -webkit-transition: all 0.48s ease-in-out;
  -o-transition: all 0.48s ease-in-out;
  transition: all 0.48s ease-in-out;
  top: 2.5rem;
  width: auto; }
  .search__close:before, .search__close:after {
    background-color: #111111;
    content: '';
    left: 1rem;
    height: 2rem;
    opacity: 0.4;
    position: absolute;
    width: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .search__close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .search__close:hover {
    opacity: 1; }

.search__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.48s;
  -o-transition: all 0.48s;
  transition: all 0.48s;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden; }
  .search__overlay.expanded {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 100000000;
    display: block;
    visibility: visible; }
    .search__overlay.expanded .search__input {
      -webkit-animation: slideininput 0.98s forwards;
      animation: slideininput 0.98s forwards;
      display: block; }

@-webkit-keyframes slideininput {
  60% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    max-width: 92%; } }

@keyframes slideininput {
  60% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    max-width: 92%; } }
    .search__overlay.expanded .search__close {
      -webkit-animation: slideinclose 0.98s forwards;
      animation: slideinclose 0.98s forwards; }

@-webkit-keyframes slideinclose {
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideinclose {
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Navigation ------------------------ */
.navbar__menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #ffffff;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      width: 100%;
      z-index: 999; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      margin-top: 0 !important;
      overflow: visible; } }
  .navbar__menu li {
    color: #111111;
    list-style: none;
    padding: 0; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        font-size: 0.9375rem;
        margin-left: 1rem;
        position: relative;
        z-index: 2001; } }
    .navbar__menu li:hover {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          visibility: visible; }
          .navbar__menu li:hover > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #111111;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 0.75rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #6B78B4; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #ffffff;
    -webkit-box-shadow: 0 0 0 1px #cfcfcf;
    box-shadow: 0 0 0 1px #cfcfcf;
    left: auto;
    margin: 15px 0 0;
    opacity: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
    visibility: hidden;
    width: auto;
    z-index: 2000; }
    .navbar__submenu:after {
      background: #ffffff;
      border-left: 1px solid #cfcfcf;
      border-top: 1px solid #cfcfcf;
      content: '';
      display: block;
      height: 10px;
      left: 20px;
      position: absolute;
      top: -6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 10px; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: -15px;
      width: 100%; }
    .navbar__submenu li {
      border: none;
      margin: 0; } }
    @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
      .navbar__submenu li {
        padding: 0.25rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li ul {
        left: calc(100% + 12px);
        top: -22px;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul:after {
          left: -6px;
          top: 15px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .navbar__submenu li ul:before {
          height: 100%;
          left: -12px;
          top: 0;
          width: 12px; }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: calc(100% + 12px);
          top: -22px; }
          .navbar__submenu li ul.navbar__submenu--reversed:after {
            left: auto;
            right: -6px;
            top: 15px;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
          .navbar__submenu li ul.navbar__submenu--reversed:before {
            height: 100%;
            left: auto;
            right: -12px;
            top: 0;
            width: 12px; }
    .col-2 .navbar__submenu {
      -webkit-column-count: 2;
      column-count: 2; }
    .col-3 .navbar__submenu {
      -webkit-column-count: 3;
      column-count: 3; } }

.navbar__toggle {
  background: none;
  border: none;
  border-top: 2px solid #000000;
  border-radius: 0;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  text-indent: -99999rem;
  width: 1.6rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #000000;
    content: "";
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%; }
  .navbar__toggle:after {
    border-bottom: 2px solid #000000;
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .navbar__toggle:focus {
    background: none;
    outline: none;
    border: none;
    border-top: 2px solid #111111; }
  .navbar__toggle:hover {
    background: none; }

.is-opened > ul {
  border-top: 1px solid #cfcfcf;
  opacity: 1;
  overflow: auto;
  padding: 1.5rem 0 0;
  visibility: visible; }
  .is-opened > ul li {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    .is-opened > ul li ul {
      border: none;
      height: 0;
      opacity: 0;
      padding: 0;
      -webkit-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
      transform: translateY(-20%);
      visibility: hidden; }
    .is-opened > ul li:hover > ul {
      height: auto;
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      visibility: visible; }
    .is-opened > ul li[aria-expanded="true"] > ul {
      display: block; }

@media all and (max-width: 56.1875em) {
  .has-submenu:after {
    background: #ffffff;
    border-right: 1px solid #6B78B4;
    border-bottom: 1px solid #6B78B4;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 1rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px; } }

@media all and (min-width: 56.25em) {
  .u-innerwrap {
    width: 36rem;
    margin-left: auto;
    margin-right: auto; } }

.hero {
  background: #111111;
  margin-bottom: 0.5rem;
  min-height: 20rem;
  position: relative;
  text-align: center;
  top: 0;
  z-index: 1; }
  .hero:after {
    content: " ";
    display: block;
    clear: both; }
  @media all and (min-width: 56.25em) {
    .hero--narrow {
      left: calc((100% - 64rem) /2);
      width: 64rem; } }
  @media all and (min-width: 56.25em) {
    .hero--full {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }
  .hero > header {
    color: #ffffff;
    max-width: 64rem;
    padding: 0 4%;
    text-align: center;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media all and (min-width: 56.25em) {
      .hero > header {
        max-width: calc(64rem + 8%); } }
    .hero > header a {
      color: #ffffff;
      text-decoration: none;
      -webkit-transition: all 0.12s linear 0s;
      -o-transition: all 0.12s linear 0s;
      transition: all 0.12s linear 0s; }
    .hero > header a:hover {
      color: #ffffff;
      text-decoration: underline;
      -webkit-text-decoration-skip: ink;
      text-decoration-skip: ink; }
    .hero > header a:active {
      color: #ffffff; }
    .hero > header a:focus {
      color: #ffffff;
      outline: none; }
  .hero > figure,
  .hero > div {
    margin: 0;
    position: relative; }
    .hero > figure > img,
    .hero > div > img {
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0.4;
      width: 100%; }
      @media all and (max-width: 56.1875em) {
        .hero > figure > img,
        .hero > div > img {
          min-height: 20rem; } }
      @media all and (min-width: 56.25em) {
        .hero > figure > img,
        .hero > div > img {
          height: 45rem; } }
    .hero > figure > figcaption,
    .hero > div > figcaption {
      background: #111111;
      bottom: 4%;
      color: #ffffff;
      display: inline-table;
      padding: 0 0.5rem;
      text-align: left;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.25rem; }
  @media all and (min-width: 75em) {
    .category--layout-1 > article:nth-child(7n-2) {
      -webkit-box-flex: 2;
      -ms-flex: 2 50%;
      flex: 2 50%; }
      .category--layout-1 > article:nth-child(7n-2) h2 {
        font-size: 2.16943rem; } }
  .category--layout-1 > article:nth-child(6n-5) .card__image > a:after {
    background: #6B78B4;
    opacity: 0.95; }
  @media all and (min-width: 75em) {
    .category--layout-2 > article:nth-child(5n) {
      -webkit-box-flex: 2;
      -ms-flex: 2 100%;
      flex: 2 100%; }
      .category--layout-2 > article:nth-child(5n) h2 {
        font-size: 2.16943rem; } }
  .category--layout-2 > article:nth-child(8n-6) .card__image > a:after {
    background: #6B78B4;
    opacity: 0.95; }
  @media all and (min-width: 75em) {
    .category--layout-3 > article:nth-child(2n) {
      -webkit-box-flex: 2;
      -ms-flex: 2 33%;
      flex: 2 33%; }
      .category--layout-3 > article:nth-child(2n) h2 {
        font-size: 2.16943rem; } }
  .category--layout-3 > article:nth-child(8n-6) .card__image > a:after {
    background: #6B78B4;
    opacity: 0.95; }

.card {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: 0.82397rem;
  height: 20rem;
  margin: 0.25rem 0;
  padding: 0 0.25rem;
  overflow: hidden;
  position: relative;
  text-align: center; }
  @media all and (min-width: 37.5em) {
    .card {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; } }
  @media all and (min-width: 56.25em) {
    .card {
      -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%; } }
  @media all and (min-width: 75em) {
    .card {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; } }
  .card:after {
    background: #000000;
    content: "";
    display: inherit;
    height: 100%;
    z-index: 0; }
  .card__image {
    margin: 0; }
    .card__image > a {
      display: block;
      overflow: hidden;
      position: relative; }
      .card__image > a:after {
        background: #000000;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
    .card__image img {
      height: 20rem;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
  .card:hover .card__image > a:after {
    background: #000000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: absolute;
    top: 0;
    width: 100%; }
  .card:hover .card__image img {
    -webkit-transform: scale(1.6) rotate(-10deg);
    -ms-transform: scale(1.6) rotate(-10deg);
    transform: scale(1.6) rotate(-10deg); }
  .card__video {
    height: 0;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 56.25%;
    position: relative; }
    .card__video > iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .card__header {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1; }
    .card__header > h2 {
      margin-top: 0.5rem; }
      .card__header > h2 > a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        .card__header > h2 > a {
          color: #ffffff;
          text-decoration: none;
          -webkit-transition: all 0.12s linear 0s;
          -o-transition: all 0.12s linear 0s;
          transition: all 0.12s linear 0s; }
        .card__header > h2 > a:hover {
          color: #ffffff;
          text-decoration: underline;
          -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }
        .card__header > h2 > a:active {
          color: #ffffff; }
        .card__header > h2 > a:focus {
          color: #ffffff;
          outline: none; }
        .card__header > h2 > a:hover {
          border-color: white;
          text-decoration: none; }
    .card__header > p {
      color: #ffffff;
      font-size: 0.67893rem;
      margin: 0;
      text-transform: uppercase; }

.post__image--left {
  float: left;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  max-width: 50%; }

.post__image--right {
  float: right;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  max-width: 50%; }

.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

@media all and (min-width: 75em) {
  .post__image--wide {
    margin-left: calc((100% - 64rem) /2);
    margin-right: calc((100% - 64rem) /2); }
    .post__image--wide > img {
      width: 100%; } }

.post__image--full {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%); }
  .post__image--full > img {
    width: 100%; }

.post__meta {
  color: #646464;
  font-size: 0.82397rem; }

.post__entry {
  margin: 1.5rem 0 3rem; }
  @media all and (min-width: 56.25em) {
    .post__entry {
      margin: 2.75rem auto; } }
  .post__entry > :nth-child(1) {
    margin-top: 0; }

.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: calc(0.5rem + 0.25vw) 0 calc(1.5rem + 0.25vw) 1rem; }
  .post__toc ul li {
    counter-increment: item;
    padding: 0; }
  .post__toc ul ul {
    margin-top: 0; }
    .post__toc ul ul li {
      display: block; }
      .post__toc ul ul li:before {
        content: counters(item, ".") ". ";
        margin-left: -20px; }

.post__bio {
  border-top: 1px solid #cfcfcf;
  margin: 1.5rem 0 0;
  overflow: hidden;
  padding: 2.75rem 0 1.5rem;
  text-align: center;
  font-size: 0.87891rem; }
  @media all and (min-width: 37.5em) {
    .post__bio {
      padding-left: 6rem;
      text-align: left; } }
  .post__bio > img {
    border-radius: 50%;
    height: 4.5rem;
    margin: 0 0 1.5rem;
    width: 4.5rem; }
    @media all and (min-width: 37.5em) {
      .post__bio > img {
        float: left;
        margin-left: -6rem; } }
  .post__bio > h3 {
    font-size: 1rem;
    margin: 0; }

.post__share {
  margin: 2.75rem 0; }
  .post__share > a {
    color: #ffffff;
    display: inline-block;
    font: 400 0.67893rem "Nunito", serif;
    letter-spacing: 0.5px;
    margin: 0 1% 0.25rem 0;
    padding: 0.5rem 0.75rem 0.5rem 0;
    text-transform: uppercase; }
    @media all and (max-width: 37.4375em) {
      .post__share > a {
        width: 48%; } }
    .post__share > a:hover {
      background: #111111;
      color: #ffffff;
      text-decoration: none; }
  .post__share .icon {
    fill: white;
    margin: 0 0.5rem;
    pointer-events: none;
    vertical-align: middle; }

.post__last-updated {
  color: #646464;
  font-size: 0.77248rem;
  font-style: italic;
  margin: -1.5rem 0 2.75rem; }

.post__tag {
  border-top: 1px solid #cfcfcf;
  margin-top: 1.5rem;
  margin-left: 0;
  padding-top: 2.75rem; }
  .post__tag > li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 1% 0.25rem 0; }
    .post__tag > li > a {
      color: #111111;
      border: 1px solid #acacac;
      display: block;
      font: 400 0.67893rem "Nunito", serif;
      letter-spacing: 0.5px;
      padding: 0.5rem 0.75rem;
      text-align: center;
      text-transform: uppercase; }
      .post__tag > li > a:hover {
        color: #ffffff;
        background: #111111;
        border-color: #111111;
        text-decoration: none; }
    @media all and (max-width: 37.4375em) {
      .post__tag > li {
        width: 48%; } }

.post__nav {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-top: 1px solid #cfcfcf;
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.77248rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2.25rem;
  padding: 1.5rem 0; }
  .post__nav__prev, .post__nav__next {
    width: 50%; }
  .post__nav__prev {
    text-align: left; }
  .post__nav__next {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-left: auto;
    text-align: right; }
  .post__nav h5 {
    font-size: 1rem;
    margin: 0; }

.post__nav + .post__related {
  margin-top: 0; }

.post__related {
  border-top: 1px solid #cfcfcf;
  margin-top: 2.25rem; }
  .post__related__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1.5rem -2% 0;
    width: 104%; }
    .post__related__wrap figure {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin: 0;
      padding: 0.75rem 2% 0; }
      @media all and (min-width: 37.5em) {
        .post__related__wrap figure {
          -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%; } }
      .post__related__wrap figure a {
        display: block; }
        .post__related__wrap figure a > img {
          height: 8rem;
          -o-object-fit: cover;
          object-fit: cover;
          -webkit-transition: all 0.24s ease;
          -o-transition: all 0.24s ease;
          transition: all 0.24s ease;
          width: 100%; }
        .post__related__wrap figure a:hover img {
          opacity: 0.8; }
    .post__related__wrap figcaption {
      font-style: normal;
      margin-top: 1rem;
      text-align: left; }
    .post__related__wrap h4 {
      font-size: 1rem;
      margin: 0.5rem 0; }

.comments {
  border-top: 1px solid #cfcfcf;
  margin-top: 2.25rem; }
  .comments > h3 {
    margin-bottom: 1.25rem; }

.banner {
  text-align: center; }
  .banner--before-post {
    margin-bottom: 1.5rem; }
    @media all and (min-width: 56.25em) {
      .banner--before-post {
        margin-bottom: 3.25rem; } }
  .banner--after-post {
    margin-top: calc(2.25rem + 0.5vw); }

.author__thumb {
  border-radius: 50%; }

.search-page__input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  width: 100%; }

.gsc-control-cse {
  padding: 0; }

.gs-webResult {
  border-top: 1px solid #cfcfcf;
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.5rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.comments {
  border-top: 1px solid #cfcfcf;
  margin-top: 2.25rem; }
  .comments > h3 {
    margin-bottom: 1.25rem; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1rem 1.5rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  float: left;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2.8084rem;
  line-height: 0.9;
  margin-right: 0.5rem;
  padding: 0.5rem 0.25rem 0.5rem 0; }

/* Pagination ------------------------ */
.pagination {
  margin-top: 4.5rem;
  text-align: center; }
  .pagination > a > svg {
    fill: #111111;
    height: 2rem;
    display: inline-block;
    -webkit-transition: all 0.12s linear 0s;
    -o-transition: all 0.12s linear 0s;
    transition: all 0.12s linear 0s;
    width: 2.5rem;
    margin: 0 0.75rem; }
  .pagination > a:hover {
    text-decoration: none; }
    .pagination > a:hover > svg {
      fill: #6B78B4; }

.gallery {
  margin: calc(1.5rem + 1vw) -0.5rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      width: 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      width: 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      width: 33%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      width: 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      width: 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      width: 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      width: 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      width: 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.5rem; }
    @media all and (min-width: 20em) {
      .gallery__item {
        width: 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        width: 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        width: 25%; } }
    .gallery__item img {
      display: block;
      width: 100%; }

.pswp--dark .pswp__bg {
  background: #000000; }

.pswp--light .pswp__bg {
  background: #ffffff; }

.pswp--light .pswp__counter {
  color: #111111; }

.pswp--light .pswp__caption__center {
  color: #111111; }

/* Footer ------------------------ */
.footer {
  border-top: 1px solid #cfcfcf;
  overflow: hidden;
  padding: 2.5rem 4%;
  margin: 4.5rem 0 0;
  text-align: center; }
  .footer__copyright {
    color: #646464;
    font-size: 0.67893rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem 0; }
  .footer__social {
    margin-top: 0.75rem; }
    .footer__social > a {
      padding: 0.25rem; }
      .footer__social > a:hover {
        text-decoration: none; }
    .footer__social .icon {
      fill: #111111;
      opacity: 0.9; }
      .footer__social .icon:hover {
        opacity: 0.6; }

.icon {
  display: inline-block;
  height: 0.9rem;
  -webkit-transition: all 0.12s linear 0s;
  -o-transition: all 0.12s linear 0s;
  transition: all 0.12s linear 0s;
  width: 0.9rem; }

/*# sourceMappingURL=main.css.map */
        a,
        .inverse:hover,
        .inverse:active,
        .inverse:focus {
               color: #BFCD7A;           
          }
        a:hover,
        a:active,
        a:focus,
        .footer a:hover {
               color: #6b78b4; 

        }
        .cookie-popup,
        .cookie-popup__save {
               background: #BFCD7A;      
        }      
        .btn:hover, 
        [type=button]:hover,
        [type=submit]:hover,
        button:hover, 
        .btn:focus, 
        [type=button]:focus,
        [type=submit]:focus,
        button:focus,
        .btn:active, 
        [type=button]:active,
        [type=submit]:active,
        button:active {
               background: #BFCD7A;      
        }

        blockquote,
        [type=text]:focus,
        [type=url]:focus,
        [type=tel]:focus,
        [type=number]:focus,
        [type=email]:focus,
        [type=search]:focus,
        textarea:focus,
        select:focus,
        select[multiple]:focus,
        .has-submenu:after {
               border-color: #BFCD7A;
        }

        input[type=checkbox]:checked + label:before{
               background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%23BFCD7A'/%3e%3c/svg%3e");
        }

        input[type=radio]:checked + label:before {
               background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%23BFCD7A'/%3e%3c/svg%3e"); 
        }
        .navbar__menu li a:hover:not(span),
        .navbar__menu li span:hover:not(span) {
               color: #BFCD7A; 
          }   
        .hero {
               background: #BFCD7A; 
               min-height: 20rem;
               max-height: 45rem;  
        }
        @media all and (max-width: 56.1875em) {
               .hero > figure > img {
                   min-height: 20rem; 
               }   
          }
        .hero > figure > img {
               opacity: 0.15;
         } 
        .card__image > a:after  {
               background: #000000;
               opacity: 0.85; 
        }

        .card:after,
        .card:hover .card__image > a:after {
               background: #000000;
        }  
        .category--layout-1 > article:nth-child(6n-5) .card__image > a:after,
        .category--layout-2 > article:nth-child(8n-6) .card__image > a:after,
        .category--layout-3 > article:nth-child(8n-6) .card__image > a:after {
               background: #BFCD7A;
               opacity: 0.95;	
         } 
        .lazyload,
        .lazyloading {
               opacity: 0;
        }
        .lazyloaded {
               opacity: 1;
               transition: opacity 2s cubic-bezier(0.215, 0.61, 0.355, 1); 
          }font-family: 'Press Start 2P', cursive;

